# VS Code settings folder
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore build or output folders if you use bundlers later
dist/
build/

#  Ignore environment files if you add any
.env
